/*/////// MEDIA ////////*/  /*To make image and video the same size as the container*/

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}

/*/////// LAYOUT STYLES ////////*/  /**/

.row {
	margin-bottom: 20px;
}

/*/////// CAROUSEL STYLES ////////*/  /**/

#carousel-example-generic .item img {
	height: auto;
}

.carousel-caption p { /*no caption for small devices*/
	display: none;
}

@media only screen and (min-width: 768px) {
	#carousel-example-generic .item img {
	height: 384px;  /*divide by 2 the width of the image at 768 screen size for the best aspect ratio for the gallery*/
	}
}

@media only screen and (min-width: 992px) {
	#carousel-example-generic .item img {
	height: 496px;  /*half of the min-width (same as above)*/
	}
	.carousel-caption p { /*captions start to show*/
	display: block;
}
}

@media only screen and (min-width: 1200px) {
	#carousel-example-generic .item img {
	height: 600px;  /*half of the min-width (same as above)*/
	}
}